page-home {

  .card-background-page {

  background-image: url('../assets/imgs/xochipilli.png');
  background-repeat: no-repeat;
  background-size: auto;

    button{

      height: 70px;
      font-size: 2.0em;
      border-radius: 7px;
    }

  }
}
